



@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.read-the-docs {
  color: #888;
}

table {
  table-layout: auto;
  width: 100%;
}

/* Add overflow handling to the container */
.overflow-x-auto {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* Ensure proper table scrolling on small screens */
@media (max-width: 768px) {
  .table-auto {
    width: 100%;
  }
  .table-auto th,
  .table-auto td {
    padding: 10px;
    font-size: 12px;
  }
}