@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Sora, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #1b0a8d; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

table {
  table-layout: auto;
  width: 100%;
}

/* Add overflow handling to the container */
.overflow-x-auto {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* Ensure proper table scrolling on small screens */
@media (max-width: 768px) {
  .table-auto {
    width: 100%;
  }
  .table-auto th,
  .table-auto td {
    padding: 10px;
    font-size: 12px;
  }
}
.table-container {
  overflow-x: auto;  /* Enable horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
}

table {
  width: 100%;
  table-layout: fixed; /* Ensure the columns take up fixed space */
}

th, td {
  text-align: left; /* Align the content to the left */
  padding: 8px; /* Add some padding */
  word-wrap: break-word; /* Ensure long words break to the next line */
}

@media (max-width: 768px) {
  .table-container {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
  }

  table {
    width: 100%;
    table-layout: auto; /* Make the columns auto size */
  }

  th, td {
    font-size: 12px; /* Adjust font size for small screens */
    padding: 8px;  /* Reduce padding */
  }
}
